In [41]:
import pandas as pd
import ast
from sklearn.preprocessing import OneHotEncoder
from sklearn.decomposition import PCA
from sklearn.decomposition import IncrementalPCA
import json
import numpy as np

# !pip install --upgrade scikit-learn

In [42]:
movie_1 = pd.read_csv("Movies_no_revenue_zero.csv")

In [43]:
duplicates = movie_1.duplicated()

# Show all duplicated rows
print(movie_1[duplicates])

        movieId    imdb_id                  original_title  \
796     22649.0  tt0022879              A Farewell to Arms
798     22649.0  tt0022879              A Farewell to Arms
2161    84198.0  tt1736049            A Place at the Table
2163    84198.0  tt1736049            A Place at the Table
3369    10991.0  tt0235679            Pokémon 3: The Movie
...         ...        ...                             ...
20529   12600.0  tt0287635  劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）
20696  265189.0  tt2121382                          Turist
20697  265189.0  tt2121382                          Turist
20698  265189.0  tt2121382                          Turist
20699  265189.0  tt2121382                          Turist

                                    production_companies  \
796            [{'name': 'Paramount Pictures', 'id': 4}]
798            [{'name': 'Paramount Pictures', 'id': 4}]
2161                                                  []
2163                                                  []
3369   [{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...
...                                                  ...
20529                                                 []
20696  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
20697  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
20698  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
20699  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...

                                    production_countries release_date  \
796    [{'iso_3166_1': 'US', 'name': 'United States o...   1932-12-08
798    [{'iso_3166_1': 'US', 'name': 'United States o...   1932-12-08
2161   [{'iso_3166_1': 'US', 'name': 'United States o...   2012-03-22
2163   [{'iso_3166_1': 'US', 'name': 'United States o...   2012-03-22
3369             [{'iso_3166_1': 'JP', 'name': 'Japan'}]   2000-07-08
...                                                  ...          ...
20529  [{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...   2001-07-06
20696  [{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...   2014-08-15
20697  [{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...   2014-08-15
20698  [{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...   2014-08-15
20699  [{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...   2014-08-15

       runtime                                        title      budget  \
796       89.0                           A Farewell to Arms         4.0
798       89.0                           A Farewell to Arms         4.0
2161      84.0                         A Place at the Table         0.0
2163      84.0                         A Place at the Table         0.0
3369      93.0                Pokémon: Spell of the Unknown  16000000.0
...        ...                                          ...         ...
20529     75.0  Pokémon 4Ever: Celebi - Voice of the Forest         0.0
20696    118.0                                Force Majeure         0.0
20697    118.0                                Force Majeure         0.0
20698    118.0                                Force Majeure         0.0
20699    118.0                                Force Majeure         0.0

          revenue                                             genres  \
796          25.0                        ['Drama', 'Romance', 'War']
798          25.0                        ['Drama', 'Romance', 'War']
2161     231378.0                                    ['Documentary']
2163     231378.0                                    ['Documentary']
3369   68411275.0  ['Adventure', 'Fantasy', 'Animation', 'Action'...
...           ...                                                ...
20529  28023563.0  ['Adventure', 'Fantasy', 'Animation', 'Science...
20696   1359497.0                                ['Comedy', 'Drama']
20697   1359497.0                                ['Comedy', 'Drama']
20698   1359497.0                                ['Comedy', 'Drama']
20699   1359497.0                                ['Comedy', 'Drama']

       popularity  vote_average  vote_count         director  \
796      1.914697           6.2        29.0    Frank Borzage
798      2.411191           6.2        29.0    Frank Borzage
2161     0.501046           6.9         7.0  Kristi Jacobson
2163     1.673307           6.9         7.0  Kristi Jacobson
3369    10.264597           6.0       143.0  Michael Haigney
...           ...           ...         ...              ...
20529    6.080108           5.7        82.0  Kunihiko Yuyama
20696   12.165685           6.8       255.0    Ruben Östlund
20697   12.165685           6.8       255.0    Ruben Östlund
20698   12.165685           6.8       255.0    Ruben Östlund
20699   12.165685           6.8       255.0    Ruben Östlund

                                           lead_cast
796                   ['Helen Hayes', 'Gary Cooper']
798                   ['Helen Hayes', 'Gary Cooper']
2161               ['Jeff Bridges', 'Tom Colicchio']
2163               ['Jeff Bridges', 'Tom Colicchio']
3369           ['Veronica Taylor', 'Rachael Lillis']
...                                              ...
20529          ['Veronica Taylor', 'Rachael Lillis']
20696  ['Lisa Loven Kongsli', 'Johannes Bah Kuhnke']
20697  ['Lisa Loven Kongsli', 'Johannes Bah Kuhnke']
20698  ['Lisa Loven Kongsli', 'Johannes Bah Kuhnke']
20699  ['Lisa Loven Kongsli', 'Johannes Bah Kuhnke']

[146 rows x 16 columns]

In [44]:
movie_1.drop_duplicates(inplace=True)

In [45]:
movie_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20613 entries, 0 to 20758
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               20613 non-null  float64
 1   imdb_id               20613 non-null  object
 2   original_title        20613 non-null  object
 3   production_companies  20613 non-null  object
 4   production_countries  20613 non-null  object
 5   release_date          20606 non-null  object
 6   runtime               20549 non-null  float64
 7   title                 20613 non-null  object
 8   budget                20613 non-null  float64
 9   revenue               20613 non-null  float64
 10  genres                20613 non-null  object
 11  popularity            20613 non-null  float64
 12  vote_average          20613 non-null  float64
 13  vote_count            20613 non-null  float64
 14  director              20446 non-null  object
 15  lead_cast             20613 non-null  object
dtypes: float64(7), object(9)
memory usage: 2.7+ MB

In [46]:
movie_1["release_date"] = pd.to_datetime(movie_1["release_date"])
movie_1.head(5).to_string()

"   movieId    imdb_id               original_title                                                                                                                 production_companies                                        production_countries release_date  runtime                        title      budget      revenue                              genres  popularity  vote_average  vote_count         director                              lead_cast\n0    862.0  tt0114709                    Toy Story                                                                                       [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-10-30     81.0                    Toy Story  30000000.0  373554033.0   ['Animation', 'Comedy', 'Family']   21.946943           7.7      5415.0    John Lasseter             ['Tom Hanks', 'Tim Allen']\n1   8844.0  tt0113497                      Jumanji  [{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-12-15    104.0                      Jumanji  65000000.0  262797249.0  ['Adventure', 'Fantasy', 'Family']   17.015539           6.9      2413.0     Joe Johnston    ['Robin Williams', 'Jonathan Hyde']\n2  15602.0  tt0113228             Grumpier Old Men                                                      [{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-12-22    101.0             Grumpier Old Men         0.0   71518503.0               ['Romance', 'Comedy']   11.712900           6.5        92.0    Howard Deutch      ['Walter Matthau', 'Jack Lemmon']\n3  31357.0  tt0114885            Waiting to Exhale                                                                      [{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-12-22    127.0            Waiting to Exhale  16000000.0   81452156.0      ['Comedy', 'Drama', 'Romance']    3.859495           6.1        34.0  Forest Whitaker  ['Whitney Houston', 'Angela Bassett']\n4  11862.0  tt0113041  Father of the Bride Part II                                         [{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]  [{'iso_3166_1': 'US', 'name': 'United States of America'}]   1995-02-10    106.0  Father of the Bride Part II         0.0   76578911.0                          ['Comedy']    8.387519           5.7       173.0    Charles Shyer       ['Steve Martin', 'Diane Keaton']"

In [47]:
movie_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20613 entries, 0 to 20758
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               20613 non-null  float64
 1   imdb_id               20613 non-null  object
 2   original_title        20613 non-null  object
 3   production_companies  20613 non-null  object
 4   production_countries  20613 non-null  object
 5   release_date          20606 non-null  datetime64[ns]
 6   runtime               20549 non-null  float64
 7   title                 20613 non-null  object
 8   budget                20613 non-null  float64
 9   revenue               20613 non-null  float64
 10  genres                20613 non-null  object
 11  popularity            20613 non-null  float64
 12  vote_average          20613 non-null  float64
 13  vote_count            20613 non-null  float64
 14  director              20446 non-null  object
 15  lead_cast             20613 non-null  object
dtypes: datetime64[ns](1), float64(7), object(8)
memory usage: 2.7+ MB

In [48]:
movie_1["production_companies"] = movie_1["production_companies"].apply(lambda x: [entry['name'] for entry in ast.literal_eval(x)])
print(movie_1[["production_companies"]])

                                    production_companies
0                              [Pixar Animation Studios]
1      [TriStar Pictures, Teitler Film, Interscope Co...
2                         [Warner Bros., Lancaster Gate]
3               [Twentieth Century Fox Film Corporation]
4           [Sandollar Productions, Touchstone Pictures]
...                                                  ...
20754                                                 []
20755  [Art Pictures Studio, Art Pictures Group, Task...
20756                                                 []
20757                    [Mad Films, Third Eye Pictures]
20758                                                 []

[20613 rows x 1 columns]

In [49]:
A = movie_1[movie_1["production_companies"].apply(len) == 0]
print(A.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3734 entries, 54 to 20758
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               3734 non-null   float64
 1   imdb_id               3734 non-null   object
 2   original_title        3734 non-null   object
 3   production_companies  3734 non-null   object
 4   production_countries  3734 non-null   object
 5   release_date          3727 non-null   datetime64[ns]
 6   runtime               3695 non-null   float64
 7   title                 3734 non-null   object
 8   budget                3734 non-null   float64
 9   revenue               3734 non-null   float64
 10  genres                3734 non-null   object
 11  popularity            3734 non-null   float64
 12  vote_average          3734 non-null   float64
 13  vote_count            3734 non-null   float64
 14  director              3603 non-null   object
 15  lead_cast             3734 non-null   object
dtypes: datetime64[ns](1), float64(7), object(8)
memory usage: 495.9+ KB
None

In [50]:
movie_1.loc[movie_1["production_companies"].apply(len) == 0, "production_companies"] = "Not Announced"
A = movie_1[movie_1["production_companies"].apply(len) == 0]
print(A.info())
movie_1.to_csv("test-m-0.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               0 non-null      float64
 1   imdb_id               0 non-null      object
 2   original_title        0 non-null      object
 3   production_companies  0 non-null      object
 4   production_countries  0 non-null      object
 5   release_date          0 non-null      datetime64[ns]
 6   runtime               0 non-null      float64
 7   title                 0 non-null      object
 8   budget                0 non-null      float64
 9   revenue               0 non-null      float64
 10  genres                0 non-null      object
 11  popularity            0 non-null      float64
 12  vote_average          0 non-null      float64
 13  vote_count            0 non-null      float64
 14  director              0 non-null      object
 15  lead_cast             0 non-null      object
dtypes: datetime64[ns](1), float64(7), object(8)
memory usage: 0.0+ bytes
None

In [51]:
movie_1_production_company_exploded = movie_1.explode('production_companies')

# test_df = pd.get_dummies(movie_1_exploded, columns=['production_companies'], prefix='prod_comp', dtype='int')
# # encoder = OneHotEncoder(sparse_output=False, drop='first')
# # encoded_data = encoder.fit_transform(movie_1_exploded)
# # encoded_df = test_df.filter(like='prod_comp')

# encoder = OneHotEncoder(handle_unknown="ignore", sparse_output=True)
# encoded_data = encoder.fit_transform(movie_1_exploded[['production_companies']])
# encoded_dense = encoded_data.toarray()

# # Now create DataFrame with correct number of columns
# encoded_df = pd.DataFrame(encoded_dense, columns=encoder.get_feature_names_out(['production_companies']))

# print(encoded_data)
# test_df.to_csv("test-m-3.csv")
# one_hot_encode = pd.get_dummies(movie_1_exploded['production_companies'])


# encoder = OneHotEncoder(handle_unknown="ignore")
# encoded_features = encoder.fit_transform(movie_1[["production_companies"]])

# encoded_movie_production_companies = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out("production_companies"))
# print(encoded_movie_production_companies.head(5))


# result = one_hot_encode.max().to_list()
# print("One-Hot Encoded (as list):", result)
# print("\nOne-Hot Encoded (DataFrame - intermediate):")

# print(one_hot_encode.head(5))

# one_hot_encode.to_csv("movie-prod.csv", index=False)

In [52]:
production_company_freq_encoding = movie_1_production_company_exploded['production_companies'].value_counts(normalize=True)
movie_1_production_company_exploded['prod_comp_encoded'] = movie_1_production_company_exploded['production_companies'].map(production_company_freq_encoding)

In [53]:
movie_1_production_company_encoded = movie_1_production_company_exploded.groupby("movieId").agg({'prod_comp_encoded': 'mean'}).reset_index()

In [54]:
movie_1_with_production_company = movie_1.drop(columns=['production_companies']).merge(movie_1_production_company_encoded, on="movieId")
movie_1_with_production_company.to_csv("Prod-Comp.csv", index=False)

In [55]:
# ipca = IncrementalPCA(n_components=500) 
# for batch in range(0, encoded_df.shape[0], 1000):  # Process in batches of 1000
#     ipca.partial_fit(encoded_df[batch:batch+1000].toarray())

# pca_transformed = ipca.transform(encoded_df.toarray())

# ipca = IncrementalPCA(n_components=500)
# for batch in range(0, encoded_df.shape[0], 1000):
#     ipca.partial_fit(encoded_df[batch:batch+1000].to_numpy()) # Use .to_numpy()

# pca_transformed = ipca.transform(encoded_df.to_numpy())
# print(pca_transformed)

# pca = PCA(n_components=0.80)
# pca_result = pca.fit_transform(encoded_df)
# print(pca_result)
# # Convert PCA features to DataFrame
# pca_columns = [f"PCA_Comp_{i+1}" for i in range(pca_transformed.shape[1])]
# pca_df = pd.DataFrame(pca_transformed, columns=pca_columns)

In [56]:
movie_1_with_production_company["production_countries"] = movie_1_with_production_company["production_countries"].apply(lambda x: [entry['name'] for entry in ast.literal_eval(x)])
print(movie_1_with_production_company[["production_countries"]])

             production_countries
0      [United States of America]
1      [United States of America]
2      [United States of America]
3      [United States of America]
4      [United States of America]
...                           ...
20608                    [Russia]
20609                    [Russia]
20610                          []
20611                     [India]
20612            [United Kingdom]

[20613 rows x 1 columns]

In [57]:
A = movie_1_with_production_company[movie_1_with_production_company["production_countries"].apply(len) == 0]
print(A.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1593 entries, 79 to 20610
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               1593 non-null   float64
 1   imdb_id               1593 non-null   object
 2   original_title        1593 non-null   object
 3   production_countries  1593 non-null   object
 4   release_date          1586 non-null   datetime64[ns]
 5   runtime               1571 non-null   float64
 6   title                 1593 non-null   object
 7   budget                1593 non-null   float64
 8   revenue               1593 non-null   float64
 9   genres                1593 non-null   object
 10  popularity            1593 non-null   float64
 11  vote_average          1593 non-null   float64
 12  vote_count            1593 non-null   float64
 13  director              1490 non-null   object
 14  lead_cast             1593 non-null   object
 15  prod_comp_encoded     1593 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 211.6+ KB
None

In [58]:
movie_1_with_production_company.loc[movie_1_with_production_company["production_countries"].apply(len) == 0, "production_countries"] = "Not Announced"
A = movie_1_with_production_company[movie_1_with_production_company["production_countries"].apply(len) == 0]
print(A.info())
movie_1_with_production_company.to_csv("test-m-6.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               0 non-null      float64
 1   imdb_id               0 non-null      object
 2   original_title        0 non-null      object
 3   production_countries  0 non-null      object
 4   release_date          0 non-null      datetime64[ns]
 5   runtime               0 non-null      float64
 6   title                 0 non-null      object
 7   budget                0 non-null      float64
 8   revenue               0 non-null      float64
 9   genres                0 non-null      object
 10  popularity            0 non-null      float64
 11  vote_average          0 non-null      float64
 12  vote_count            0 non-null      float64
 13  director              0 non-null      object
 14  lead_cast             0 non-null      object
 15  prod_comp_encoded     0 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 0.0+ bytes
None

In [59]:
movie_1_production_country_exploded = movie_1_with_production_company.explode('production_countries')

movie_1_prod_country = pd.get_dummies(movie_1_production_country_exploded, columns=['production_countries'], prefix='prod_country', dtype='int')
# # encoder = OneHotEncoder(sparse_output=False, drop='first')
# # encoded_data = encoder.fit_transform(movie_1_exploded)
encoded_df = movie_1_prod_country.filter(like='prod_country')

# encoder = OneHotEncoder(handle_unknown="ignore", sparse_output=True)
# encoded_data = encoder.fit_transform(movie_1_exploded[['production_companies']])
# encoded_dense = encoded_data.toarray()

# # Now create DataFrame with correct number of columns
# encoded_df = pd.DataFrame(encoded_dense, columns=encoder.get_feature_names_out(['production_companies']))

# print(encoded_data)
movie_1_prod_country.to_csv("test-m-7.csv")
# one_hot_encode = pd.get_dummies(movie_1_exploded['production_companies'])


# encoder = OneHotEncoder(handle_unknown="ignore")
# encoded_features = encoder.fit_transform(movie_1[["production_companies"]])

# encoded_movie_production_companies = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out("production_companies"))
# print(encoded_movie_production_companies.head(5))

In [60]:
pca = PCA(n_components=0.80)
pca_result = pca.fit_transform(encoded_df)
print(pca_result)

[[ 6.51942728e-01  1.13857168e-02  2.10090875e-02 ... -7.82216690e-04
   1.38442821e-03  2.72766510e-04]
 [ 6.51942728e-01  1.13857168e-02  2.10090875e-02 ... -7.82216690e-04
   1.38442821e-03  2.72766510e-04]
 [ 6.51942728e-01  1.13857168e-02  2.10090875e-02 ... -7.82216690e-04
   1.38442821e-03  2.72766510e-04]
 ...
 [-4.04127430e-01 -1.20042929e-01 -5.35403239e-01 ... -6.31136513e-03
   1.09017158e-02  2.09830121e-03]
 [-3.36377805e-01 -4.92939944e-02 -1.24716715e-01 ... -5.21064739e-02
   7.50547222e-02  1.25001460e-02]
 [-4.54848251e-01 -5.84526100e-01  6.50420316e-01 ... -4.24551769e-03
   7.39983584e-03  1.43648588e-03]]

In [61]:
pca_df = pd.DataFrame(pca_result)
movie_1_with_production_company = movie_1_with_production_company.reset_index(drop=True)
pca_df = pca_df.reset_index(drop=True)
movie_1_with_production_company = movie_1_with_production_company.drop(columns=['production_countries'])
movie_1_with_production_company.info()
movie_1_with_production_countries = pd.concat([movie_1_with_production_company, pca_df], axis=1)
movie_1_with_production_countries.to_csv('test-m-8.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20613 entries, 0 to 20612
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movieId            20613 non-null  float64
 1   imdb_id            20613 non-null  object
 2   original_title     20613 non-null  object
 3   release_date       20606 non-null  datetime64[ns]
 4   runtime            20549 non-null  float64
 5   title              20613 non-null  object
 6   budget             20613 non-null  float64
 7   revenue            20613 non-null  float64
 8   genres             20613 non-null  object
 9   popularity         20613 non-null  float64
 10  vote_average       20613 non-null  float64
 11  vote_count         20613 non-null  float64
 12  director           20446 non-null  object
 13  lead_cast          20613 non-null  object
 14  prod_comp_encoded  20613 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 2.4+ MB

In [62]:
# A = movie_1_with_production_countries[movie_1_with_production_countries["genres"].apply(len) == 0]
# print(A.info())

In [63]:
movie_1_with_production_countries["genres"] = (movie_1_with_production_countries["genres"].dropna().map(ast.literal_eval))

# Use explode() safely
movie_1_genre_exploded = movie_1_with_production_countries.explode("genres", ignore_index=True)

# movie_1_with_production_countries["genres"] = movie_1_with_production_countries["genres"].apply(ast.literal_eval)

# movie_1_genre_exploded = movie_1_with_production_countries.explode('genres')
# movie_1_genre = pd.get_dummies(movie_1_genre_exploded, columns=['genres'], prefix='genre_', dtype='int')

# encoded_df = movie_1_genre.filter(like='prod_country')

movie_1_genre_exploded.to_csv("test-m-9.csv")

In [64]:
genre_freq_encoding = movie_1_genre_exploded['genres'].value_counts(normalize=True)
movie_1_genre_exploded['genre_encoded'] = movie_1_genre_exploded['genres'].map(genre_freq_encoding)

In [65]:
movie_1_genre_encoded = movie_1_genre_exploded.groupby("movieId").agg({'genre_encoded': 'mean'}).reset_index()

In [66]:
movie_1_with_genre = movie_1_with_production_countries.drop(columns=['genres']).merge(movie_1_genre_encoded, on="movieId")
movie_1_with_genre.to_csv("Genre.csv", index=False)

In [67]:
# movie_1_with_production_countries["genres"] = (movie_1_with_production_countries["genres"].dropna().map(ast.literal_eval))

# # Use explode() safely
# movie_1_genre_exploded = movie_1_with_production_countries.explode("genres", ignore_index=True)

movie_1_with_genre["lead_cast"] = (movie_1_with_genre["lead_cast"].dropna().map(ast.literal_eval))

movie_1_actors_exploded = movie_1_with_genre.explode('lead_cast', ignore_index=True)
# movie_1_actors = pd.get_dummies(movie_1_actors_exploded, columns=['lead_cast'], prefix='actor_', dtype='int')

# encoded_df = movie_1_genre.filter(like='prod_country')

# movie_1_actors_exploded.to_csv("test-m-10.csv")

In [68]:
actor_freq_encoding = movie_1_actors_exploded['lead_cast'].value_counts(normalize=True)
movie_1_actors_exploded['actor_encoded'] = movie_1_actors_exploded['lead_cast'].map(actor_freq_encoding)

In [69]:
movie_1_actor_encoded = movie_1_actors_exploded.groupby("movieId").agg({'actor_encoded': 'mean'}).reset_index()

In [70]:
movie_1_with_actor = movie_1_with_genre.drop(columns=['lead_cast']).merge(movie_1_actor_encoded, on="movieId")
movie_1_with_actor.to_csv("Actors.csv", index=False)

In [71]:
movie_1_with_actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20613 entries, 0 to 20612
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movieId            20613 non-null  float64
 1   imdb_id            20613 non-null  object
 2   original_title     20613 non-null  object
 3   release_date       20606 non-null  datetime64[ns]
 4   runtime            20549 non-null  float64
 5   title              20613 non-null  object
 6   budget             20613 non-null  float64
 7   revenue            20613 non-null  float64
 8   popularity         20613 non-null  float64
 9   vote_average       20613 non-null  float64
 10  vote_count         20613 non-null  float64
 11  director           20446 non-null  object
 12  prod_comp_encoded  20613 non-null  float64
 13  0                  20613 non-null  float64
 14  1                  20613 non-null  float64
 15  2                  20613 non-null  float64
 16  3                  20613 non-null  float64
 17  4                  20613 non-null  float64
 18  5                  20613 non-null  float64
 19  6                  20613 non-null  float64
 20  7                  20613 non-null  float64
 21  8                  20613 non-null  float64
 22  9                  20613 non-null  float64
 23  10                 20613 non-null  float64
 24  11                 20613 non-null  float64
 25  12                 20613 non-null  float64
 26  13                 20613 non-null  float64
 27  genre_encoded      20163 non-null  float64
 28  actor_encoded      20086 non-null  float64
dtypes: datetime64[ns](1), float64(24), object(4)
memory usage: 4.6+ MB

In [72]:
movie_1_with_actor['genre_encoded'] = movie_1_with_actor['genre_encoded'].fillna(movie_1_with_actor['genre_encoded'].mean())

# movie_1_with_actor['genre_encoded'].fillna(movie_1_with_actor['genre_encoded'].mean(), inplace = True)

movie_1_with_actor.dropna(subset=["actor_encoded"], inplace=True)
movie_1_with_actor["runtime"] = movie_1_with_actor["runtime"].replace("", np.nan)
movie_1_with_actor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20086 entries, 0 to 20611
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movieId            20086 non-null  float64
 1   imdb_id            20086 non-null  object
 2   original_title     20086 non-null  object
 3   release_date       20084 non-null  datetime64[ns]
 4   runtime            20029 non-null  float64
 5   title              20086 non-null  object
 6   budget             20086 non-null  float64
 7   revenue            20086 non-null  float64
 8   popularity         20086 non-null  float64
 9   vote_average       20086 non-null  float64
 10  vote_count         20086 non-null  float64
 11  director           19996 non-null  object
 12  prod_comp_encoded  20086 non-null  float64
 13  0                  20086 non-null  float64
 14  1                  20086 non-null  float64
 15  2                  20086 non-null  float64
 16  3                  20086 non-null  float64
 17  4                  20086 non-null  float64
 18  5                  20086 non-null  float64
 19  6                  20086 non-null  float64
 20  7                  20086 non-null  float64
 21  8                  20086 non-null  float64
 22  9                  20086 non-null  float64
 23  10                 20086 non-null  float64
 24  11                 20086 non-null  float64
 25  12                 20086 non-null  float64
 26  13                 20086 non-null  float64
 27  genre_encoded      20086 non-null  float64
 28  actor_encoded      20086 non-null  float64
dtypes: datetime64[ns](1), float64(24), object(4)
memory usage: 4.6+ MB

In [73]:
movie_1_with_actor.dropna(subset=["release_date"], inplace=True)

# movie_1_with_actor.dropna(subset=[""], inplace=True)
movie_1_with_actor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20084 entries, 0 to 20611
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movieId            20084 non-null  float64
 1   imdb_id            20084 non-null  object
 2   original_title     20084 non-null  object
 3   release_date       20084 non-null  datetime64[ns]
 4   runtime            20027 non-null  float64
 5   title              20084 non-null  object
 6   budget             20084 non-null  float64
 7   revenue            20084 non-null  float64
 8   popularity         20084 non-null  float64
 9   vote_average       20084 non-null  float64
 10  vote_count         20084 non-null  float64
 11  director           19995 non-null  object
 12  prod_comp_encoded  20084 non-null  float64
 13  0                  20084 non-null  float64
 14  1                  20084 non-null  float64
 15  2                  20084 non-null  float64
 16  3                  20084 non-null  float64
 17  4                  20084 non-null  float64
 18  5                  20084 non-null  float64
 19  6                  20084 non-null  float64
 20  7                  20084 non-null  float64
 21  8                  20084 non-null  float64
 22  9                  20084 non-null  float64
 23  10                 20084 non-null  float64
 24  11                 20084 non-null  float64
 25  12                 20084 non-null  float64
 26  13                 20084 non-null  float64
 27  genre_encoded      20084 non-null  float64
 28  actor_encoded      20084 non-null  float64
dtypes: datetime64[ns](1), float64(24), object(4)
memory usage: 4.6+ MB

In [74]:
movie_1_with_actor.dropna(subset=["runtime"], inplace=True)

movie_1_with_actor.dropna(subset=["director"], inplace=True)
movie_1_with_actor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19942 entries, 0 to 20611
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movieId            19942 non-null  float64
 1   imdb_id            19942 non-null  object
 2   original_title     19942 non-null  object
 3   release_date       19942 non-null  datetime64[ns]
 4   runtime            19942 non-null  float64
 5   title              19942 non-null  object
 6   budget             19942 non-null  float64
 7   revenue            19942 non-null  float64
 8   popularity         19942 non-null  float64
 9   vote_average       19942 non-null  float64
 10  vote_count         19942 non-null  float64
 11  director           19942 non-null  object
 12  prod_comp_encoded  19942 non-null  float64
 13  0                  19942 non-null  float64
 14  1                  19942 non-null  float64
 15  2                  19942 non-null  float64
 16  3                  19942 non-null  float64
 17  4                  19942 non-null  float64
 18  5                  19942 non-null  float64
 19  6                  19942 non-null  float64
 20  7                  19942 non-null  float64
 21  8                  19942 non-null  float64
 22  9                  19942 non-null  float64
 23  10                 19942 non-null  float64
 24  11                 19942 non-null  float64
 25  12                 19942 non-null  float64
 26  13                 19942 non-null  float64
 27  genre_encoded      19942 non-null  float64
 28  actor_encoded      19942 non-null  float64
dtypes: datetime64[ns](1), float64(24), object(4)
memory usage: 4.6+ MB

In [75]:
final_df = movie_1_with_actor.to_csv("final_movie_dataset.csv", index=False)